<div id="search">
  <!-- categories dropdown -->
  <div class="categories-dropdown">
    <div class="dropdown-toggle">
      <span class="selected text-ellipsis">{{ "All Categories" }}</span>
      <img src="assets/icons/caret.svg" alt="open dropdown" />
    </div>
    <ul class="dropdown-menu" #dropdownMenu>
      <li>All Categories</li>
      <li>Books</li>
      <li>Movies</li>
      <li>Music</li>
      <li>Games</li>
      <li>Software</li>
      <li>Hardware</li>
      <li>Electronics</li>
    </ul>
  </div>

  <!-- search input -->
  <div class="search-input">
    <input type="text" placeholder="Search Products, categories ..." />
    <img src="assets/icons/search.svg" alt="search" />
  </div>
</div>
