<div id="footer">
  <div class="quick-links">
    <div class="footer-column">
      <ul>
        <li>
          <a href="#">Get in touch</a>
        </li>
        <li>
          <a href="#">About Us</a>
        </li>
        <li>
          <a href="#">Careers</a>
        </li>
        <li>
          <a href="#">Press Releases</a>
        </li>
        <li>
          <a href="#">Blog</a>
        </li>
      </ul>
    </div>
    <div class="footer-column">
      <ul>
        <li>
          <a href="#">Get in touch</a>
        </li>
        <li>
          <a href="#">About Us</a>
        </li>
        <li>
          <a href="#">Careers</a>
        </li>
        <li>
          <a href="#">Press Releases</a>
        </li>
        <li>
          <a href="#">Blog</a>
        </li>
      </ul>
    </div>
    <div class="footer-column">
      <ul>
        <li>
          <a href="#">Get in touch</a>
        </li>
        <li>
          <a href="#">About Us</a>
        </li>
        <li>
          <a href="#">Careers</a>
        </li>
        <li>
          <a href="#">Press Releases</a>
        </li>
        <li>
          <a href="#">Blog</a>
        </li>
      </ul>
    </div>
    <div class="footer-column">
      <ul>
        <li>
          <a href="#">Get in touch</a>
        </li>
        <li>
          <a href="#">About Us</a>
        </li>
        <li>
          <a href="#">Careers</a>
        </li>
        <li>
          <a href="#">Press Releases</a>
        </li>
        <li>
          <a href="#">Blog</a>
        </li>
      </ul>
    </div>
  </div>

  <span class="copyright">Copyright © 2020 petrbilek.com</span>
</div>
