<div id="header">
  <!-- header top -->
  <div class="header-top">
    <div class="header-top__start">
      <a href="#">Chat with us</a>
      <span>+420 336 775 664</span>
      <span>info@freshnesecom.com</span>
    </div>

    <div class="header-top__end">
      <a href="#">Blog</a>
      <a href="#">About Us</a>
      <a href="#">Careers</a>
    </div>
  </div>

  <!-- header body -->
  <div class="header-body">
    <!-- header logo -->
    <div class="header-body__logo">
      <img src="assets/icons/logo.svg" alt="logo">
    </div>

    <!-- header-search -->
    <div class="header-body__search">
      <app-search></app-search>
    </div>

    <!-- header-info -->
    <div class="header-body__info">
      <img src="assets/icons/profile.svg" alt="profile">
      <img src="assets/icons/cart.svg" alt="">
    </div>
  </div>
</div>
